In [1]:
# importing libraries
import pandas as pd
import numpy as np
import xgboost as xgb

/home/prateek/UVa/Anaconda/lib/python3.5/site-packages/sklearn/utils/fixes.py:64: DeprecationWarning: inspect.getargspec() is deprecated, use inspect.signature() instead
  if 'order' in inspect.getargspec(np.copy)[0]:

In [2]:
# reading the data
dat =  pd.read_csv("/home/prateek/UVa/own work/kag1/wallmart recruiting challenge/train.csv")

In [3]:
dat.index += 1
dat.index

Int64Index([     1,      2,      3,      4,      5,      6,      7,      8,
                 9,     10,
            ...
            647045, 647046, 647047, 647048, 647049, 647050, 647051, 647052,
            647053, 647054],
           dtype='int64', length=647054)

In [8]:
dat.head()

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
1,999,5,Friday,68113152929,-1,FINANCIAL SERVICES,1000
2,30,7,Friday,60538815980,1,SHOES,8931
3,30,7,Friday,7410811099,1,PERSONAL CARE,4504
4,26,8,Friday,2238403510,2,PAINT AND ACCESSORIES,3565
5,26,8,Friday,2006613744,2,PAINT AND ACCESSORIES,1017

In [5]:
# finding the index of the N/A rows
pd.isnull(dat).any(1).nonzero() # it always starts from 0,1,2,....

(array([    25,    548,    549, ..., 645990, 645991, 645992]),)

In [6]:
# creating a new dataframe while removing the 'N/A' rows
# dat.shape
dat1 = dat.dropna()
print(dat1.shape)
print(dat.shape)

(642925, 7)
(647054, 7)

In [9]:
# checking for null values in the dataframe and checking for their indexs
#dat1.isnull().any(1).nonzero()

(array([], dtype=int64),)

In [11]:
# create a set of dummy variables for department description
#dummies = pd.get_dummies(dat1['DepartmentDescription'])

In [12]:
# join the dummay variables to the original data frame
#train_data= pd.concat([dat1, dummies], axis=1)
#train_data.head()

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber,1-HR PHOTO,ACCESSORIES,AUTOMOTIVE,...,SEAFOOD,SEASONAL,SERVICE DELI,SHEER HOSIERY,SHOES,SLEEPWEAR/FOUNDATIONS,SPORTING GOODS,SWIMWEAR/OUTERWEAR,TOYS,WIRELESS
1,999,5,Friday,68113152929,-1,FINANCIAL SERVICES,1000,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,30,7,Friday,60538815980,1,SHOES,8931,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,30,7,Friday,7410811099,1,PERSONAL CARE,4504,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,26,8,Friday,2238403510,2,PAINT AND ACCESSORIES,3565,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,26,8,Friday,2006613744,2,PAINT AND ACCESSORIES,1017,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
# create a get a dummy variables for weekdays
#dummies2= pd.get_dummies(dat1['Weekday'])

In [14]:
# adding the features to the original dataframe
#train_data=pd.concat([train_data, dummies2], axis=1)
#train_data.head()

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber,1-HR PHOTO,ACCESSORIES,AUTOMOTIVE,...,SWIMWEAR/OUTERWEAR,TOYS,WIRELESS,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
1,999,5,Friday,68113152929,-1,FINANCIAL SERVICES,1000,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,30,7,Friday,60538815980,1,SHOES,8931,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,30,7,Friday,7410811099,1,PERSONAL CARE,4504,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,26,8,Friday,2238403510,2,PAINT AND ACCESSORIES,3565,0,0,0,...,0,0,0,1,0,0,0,0,0,0
5,26,8,Friday,2006613744,2,PAINT AND ACCESSORIES,1017,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [12]:
#dummies3= pd.get_dummies(dat1['FinelineNumber'])

In [13]:
# adding the features to the original dataframe
#train_data=pd.concat([train_data, dummies2], axis=1)
#train_data.head()

In [15]:
#map_triptype= {3:0, 4:1, 5:2, 6:3, 7:4, 8:5, 9:6, 12:7, 14:8, 15:9, 18:10, 19:11, 20:12, 21:13, 22:14, 23:15,
#               24:16, 25:17, 26:18, 27:19, 28:20, 29:21, 30:22, 31:23, 32:24, 33:25, 34:26, 35:27, 
#               36:28, 37:29, 38:30, 39:31, 40:32, 41:33, 42:34, 43:35, 44:36, 999:37}
#train_data['TripType']=train_data['TripType'].map(map_triptype)
#train_data.head()

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber,1-HR PHOTO,ACCESSORIES,AUTOMOTIVE,...,SWIMWEAR/OUTERWEAR,TOYS,WIRELESS,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
1,37,5,Friday,68113152929,-1,FINANCIAL SERVICES,1000,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,22,7,Friday,60538815980,1,SHOES,8931,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,22,7,Friday,7410811099,1,PERSONAL CARE,4504,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,18,8,Friday,2238403510,2,PAINT AND ACCESSORIES,3565,0,0,0,...,0,0,0,1,0,0,0,0,0,0
5,18,8,Friday,2006613744,2,PAINT AND ACCESSORIES,1017,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [16]:
df2=dat1.pivot_table('ScanCount', ['TripType', 'VisitNumber','Weekday'],['DepartmentDescription'], aggfunc=lambda x:len(x.unique()))

In [17]:
df2.reset_index(inplace=True)

In [18]:
#df2.head()

DepartmentDescription,TripType,VisitNumber,Weekday,1-HR PHOTO,ACCESSORIES,AUTOMOTIVE,BAKERY,BATH AND SHOWER,BEAUTY,BEDDING,...,SEAFOOD,SEASONAL,SERVICE DELI,SHEER HOSIERY,SHOES,SLEEPWEAR/FOUNDATIONS,SPORTING GOODS,SWIMWEAR/OUTERWEAR,TOYS,WIRELESS
0,3,106,Friday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,121,Friday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,153,Friday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,162,Friday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,164,Friday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
dummies4= pd.get_dummies(df2['Weekday'])
df2=pd.concat([df2, dummies4], axis=1)
#df2.head()

DepartmentDescription,TripType,VisitNumber,Weekday,1-HR PHOTO,ACCESSORIES,AUTOMOTIVE,BAKERY,BATH AND SHOWER,BEAUTY,BEDDING,...,SWIMWEAR/OUTERWEAR,TOYS,WIRELESS,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,3,106,Friday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,0,0,0,0,0,0
1,3,121,Friday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,0,0,0,0,0,0
2,3,153,Friday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,0,0,0,0,0,0
3,3,162,Friday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,0,0,0,0,0,0
4,3,164,Friday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,0,0,0,0,0,0

In [20]:
map_triptype= {3:0, 4:1, 5:2, 6:3, 7:4, 8:5, 9:6, 12:7, 14:8, 15:9, 18:10, 19:11, 20:12, 21:13, 22:14, 23:15,
               24:16, 25:17, 26:18, 27:19, 28:20, 29:21, 30:22, 31:23, 32:24, 33:25, 34:26, 35:27, 
               36:28, 37:29, 38:30, 39:31, 40:32, 41:33, 42:34, 43:35, 44:36, 999:37}
df2['TripType']=df2['TripType'].map(map_triptype)
#df2.head()

DepartmentDescription,TripType,VisitNumber,Weekday,1-HR PHOTO,ACCESSORIES,AUTOMOTIVE,BAKERY,BATH AND SHOWER,BEAUTY,BEDDING,...,SWIMWEAR/OUTERWEAR,TOYS,WIRELESS,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,0,106,Friday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,0,0,0,0,0,0
1,0,121,Friday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,0,0,0,0,0,0
2,0,153,Friday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,0,0,0,0,0,0
3,0,162,Friday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,0,0,0,0,0,0
4,0,164,Friday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,0,0,0,0,0,0

In [21]:
df2.fillna(0, inplace=True)
#df2.head()

DepartmentDescription,TripType,VisitNumber,Weekday,1-HR PHOTO,ACCESSORIES,AUTOMOTIVE,BAKERY,BATH AND SHOWER,BEAUTY,BEDDING,...,SWIMWEAR/OUTERWEAR,TOYS,WIRELESS,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,0,106,Friday,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,0,121,Friday,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,0,153,Friday,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,0,162,Friday,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,0,164,Friday,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [22]:
#X= train_data.drop(train_data[[0,1,2,3,4,5,6]], axis=1)
X1=df2.drop(df2[[0,1,2]], axis=1)

In [23]:
#Y = train_data['TripType']
Y1= df2['TripType']

In [24]:
from sklearn.cross_validation import train_test_split
#X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size= 0.3)
X1_train, X1_test, Y1_train, Y1_test = train_test_split(X1, Y1, test_size= 0.25)

In [25]:
# Using XGboost for classification

#dtrain = xgb.DMatrix(X_train, label=Y_train)
#dtest = xgb.DMatrix(X_test, label=Y_test)
dtrain = xgb.DMatrix(X1_train, label=Y1_train)
dtest = xgb.DMatrix(X1_test, label=Y1_test)

In [26]:
# Tree Booster parameters

param = {'bst:max_depth':10, 'bst:eta':0.04, 'silent':1, 'objective':'multi:softmax'}
# max_depth: maximum depth of the tree
# eta: step size/shrinkage; After each boosting step, we can directly get the weights of new features and 
# eta actually shrinks the feature weights to make the boosting process more conservative.

# depth: 6, eta:0.03, num_round=1500 --> have the best results uptill now!!, 0.989

param['nthread'] = 1
# nthread: number of parallel threads used to run xgboost.

param['num_class'] = 38 # number of classes in the model

param['eval_metric'] = 'mlogloss' #['mlogloss', 'merror'] 
# “mlogloss”: Multiclass logloss
# “merror”: Multiclass classification error rate. It is calculated as #(wrong cases)/#(all cases).
# multi class log loss- penalizes false confident predictions 

#param['gamma']= 0.1  # minimum loss reduction required to make a further partition; 
# this value could be increased to 0.5

#param['subsample']= 0.75 
# this is can used to prevent overfitting, as XGBoost will randomly select 75% of the training data.

#param['colsample_bytree']= 0.75
# this is used to prevent overfitting; it will randomly select 75% of the columns in training data
# Specify validations set to watch performance
evallist  = [(dtest,'eval'), (dtrain,'train')]

In [ ]:
num_round = 500 # number of rounds of boosting
bst = xgb.train(param, dtrain, num_round, evallist)

In [ ]:
bst.save_model('model2')

In [44]:
#dat1.groupby(['VisitNumber','DepartmentDescription','ScanCount']).count()

In [26]:
#df=dat1.pivot_table('ScanCount', ['VisitNumber', 'TripType','Weekday'],['DepartmentDescription'], aggfunc=np.sum)

In [32]:
#df2=dat1.pivot_table('ScanCount', ['TripType', 'VisitNumber'],['DepartmentDescription','Weekday'], aggfunc=np.sum)

In [28]:
#df.to_csv('df1.csv')

In [34]:
#df2.to_csv('df2.csv')

In [38]:
#df2.reset_index(inplace=True)

In [26]:
#dat1.pivot_table()

In [27]:
#test_data1= pd.read_csv('/home/prateek/UVa/own work/kag1/wallmart recruiting challenge/test.csv')
#test_data1.head()

,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
0,1,Friday,72503389714,1,SHOES,3002
1,1,Friday,1707710732,1,DAIRY,1526
2,1,Friday,89470001026,1,DAIRY,1431
3,1,Friday,88491211470,1,GROCERY DRY GOODS,3555
4,2,Friday,2840015224,1,DSD GROCERY,4408

In [28]:
#df3=test_data1.pivot_table('ScanCount', ['VisitNumber', 'Weekday'], ['DepartmentDescription'], aggfunc=np.sum)
#df3.head()

,DepartmentDescription,1-HR PHOTO,ACCESSORIES,AUTOMOTIVE,BAKERY,BATH AND SHOWER,BEAUTY,BEDDING,BOOKS AND MAGAZINES,BOYS WEAR,BRAS & SHAPEWEAR,...,SEAFOOD,SEASONAL,SERVICE DELI,SHEER HOSIERY,SHOES,SLEEPWEAR/FOUNDATIONS,SPORTING GOODS,SWIMWEAR/OUTERWEAR,TOYS,WIRELESS
VisitNumber,Weekday,,,,,,,,,,,,,,,,,,,,,
1,Friday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
2,Friday,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Friday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Friday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Friday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
#df3.reset_index(inplace=True)
#df3.head()

In [32]:
#df3.fillna(0, inplace=True)
#df3.head()

DepartmentDescription,VisitNumber,Weekday,1-HR PHOTO,ACCESSORIES,AUTOMOTIVE,BAKERY,BATH AND SHOWER,BEAUTY,BEDDING,BOOKS AND MAGAZINES,...,SEAFOOD,SEASONAL,SERVICE DELI,SHEER HOSIERY,SHOES,SLEEPWEAR/FOUNDATIONS,SPORTING GOODS,SWIMWEAR/OUTERWEAR,TOYS,WIRELESS
0,1,Friday,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,2,Friday,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Friday,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,Friday,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,6,Friday,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [146]:
#dummies5= pd.get_dummies(df3['Weekday'])
#df3=pd.concat([df3, dummies5], axis=1)
#df3.head()
# grouping 'DepartmentDepartmet', 'FinelineNumber' based on number of occurences of 'FinelineNumber' greater than 10
#tr = dat1.groupby(['DepartmentDescription','FinelineNumber']).apply(lambda x: len(x)>500)
#tr[tr]
#tr=pd.DataFrame(tr[tr])
#tr.reset_index(inplace=True)
#tr.columns=['DepartmentDescription', 'FinelineNumber', 'Value']
#tr=tr.drop(tr[[2]], axis=1)
#tr

       DepartmentDescription  FinelineNumber
0                     BAKERY            5017
1                     BAKERY            5024
2                     BEAUTY            3100
3                     BEAUTY            4010
4                     BEAUTY            4020
5                     BEAUTY            6080
6    CANDY, TOBACCO, COOKIES              79
7    CANDY, TOBACCO, COOKIES             221
8    CANDY, TOBACCO, COOKIES             521
9    CANDY, TOBACCO, COOKIES             707
10   CANDY, TOBACCO, COOKIES            8012
11               CELEBRATION             787
12               CELEBRATION            1805
13                COMM BREAD            2286
14                COMM BREAD            3701
15                COMM BREAD            3702
16                COMM BREAD            3706
17                COMM BREAD            3707
18                COMM BREAD            3710
19                COMM BREAD            3724
20                COMM BREAD            3725
21                COMM BREAD            3729
22                     DAIRY            1344
23                     DAIRY            1351
24                     DAIRY            1353
25                     DAIRY            1404
26                     DAIRY            1405
27                     DAIRY            1406
28                     DAIRY            1407
29                     DAIRY            1436
..                       ...             ...
174            PERSONAL CARE            1403
175            PERSONAL CARE            1411
176            PERSONAL CARE            3181
177            PERSONAL CARE            3183
178            PERSONAL CARE            5050
179            PERSONAL CARE            8101
180            PERSONAL CARE            9108
181        PETS AND SUPPLIES            1436
182        PETS AND SUPPLIES            1946
183          PRE PACKED DELI            7502
184          PRE PACKED DELI            7554
185                  PRODUCE            2005
186                  PRODUCE            3601
187                  PRODUCE            4008
188                  PRODUCE            5501
189                  PRODUCE            5620
190                  PRODUCE            5701
191                  PRODUCE            6201
192                  PRODUCE            7501
193                  PRODUCE            7801
194                  PRODUCE            7803
195                  PRODUCE            8101
196                  PRODUCE            8104
197                  PRODUCE            8303
198                  SEAFOOD            1026
199             SERVICE DELI            7010
200             SERVICE DELI            7100
201             SERVICE DELI            8001
202             SERVICE DELI            8014
203             SERVICE DELI            8015

[204 rows x 2 columns]

In [142]:
#tr.columns.values

array(['DepartmentDescription', 'FinelineNumber', 0], dtype=object)

In [117]:
#dat1[dat1['FinelineNumber'].isin(tr[tr].index)]

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
1,999,5,Friday,6.811315e+10,-1,FINANCIAL SERVICES,1000
9,26,8,Friday,2.238495e+09,1,PAINT AND ACCESSORIES,4501
11,26,8,Friday,5.200010e+09,1,DSD GROCERY,4606
12,26,8,Friday,8.867930e+10,2,PAINT AND ACCESSORIES,3504
15,26,8,Friday,8.867930e+10,-1,PAINT AND ACCESSORIES,3504
20,26,8,Friday,2.310011e+09,1,PETS AND SUPPLIES,3300
22,26,8,Friday,7.874205e+09,1,HOUSEHOLD CHEMICALS/SUPP,707
25,26,8,Friday,3.270011e+09,3,PETS AND SUPPLIES,1001
27,8,9,Friday,1.070081e+09,1,IMPULSE MERCHANDISE,115
28,8,9,Friday,3.107000e+03,1,PRODUCE,103
29,8,9,Friday,4.011000e+03,1,PRODUCE,5501
30,8,10,Friday,6.414410e+09,1,DSD GROCERY,2008
31,8,10,Friday,2.800054e+09,1,"CANDY, TOBACCO, COOKIES",115
34,35,11,Friday,7.800002e+09,1,DSD GROCERY,3467
35,35,11,Friday,2.840028e+09,1,IMPULSE MERCHANDISE,808
36,35,11,Friday,7.920018e+09,1,IMPULSE MERCHANDISE,110
38,41,12,Friday,3.700001e+09,1,PERSONAL CARE,5050
40,41,12,Friday,3.500077e+09,1,PERSONAL CARE,203
42,41,12,Friday,1.920077e+09,1,HOUSEHOLD CHEMICALS/SUPP,6010
52,6,17,Friday,2.840009e+09,1,DSD GROCERY,3352
53,6,17,Friday,2.610001e+09,1,"CANDY, TOBACCO, COOKIES",8012
66,7,20,Friday,6.811311e+10,2,SERVICE DELI,4010
67,9,23,Friday,4.011000e+03,1,PRODUCE,5501
68,9,23,Friday,6.922496e+11,1,HOME MANAGEMENT,3005
70,8,25,Friday,1.590000e+09,1,PRE PACKED DELI,7501
72,39,26,Friday,8.947000e+10,2,DAIRY,1450
75,39,26,Friday,8.182900e+10,3,DAIRY,1450
76,39,26,Friday,8.947000e+10,1,DAIRY,1450
78,39,26,Friday,4.011000e+03,1,PRODUCE,5501
83,25,28,Friday,4.900004e+09,1,DSD GROCERY,9538
...,...,...,...,...,...,...,...
646991,38,191337,Sunday,3.800085e+09,1,DSD GROCERY,3353
646992,38,191337,Sunday,2.100030e+09,1,DAIRY,1353
646995,38,191337,Sunday,2.700069e+09,1,GROCERY DRY GOODS,4408
646996,38,191337,Sunday,2.200001e+09,1,IMPULSE MERCHANDISE,135
646997,38,191337,Sunday,3.800043e+09,1,GROCERY DRY GOODS,3504
646998,38,191337,Sunday,2.500005e+09,1,DAIRY,1407
646999,38,191337,Sunday,1.254661e+09,1,IMPULSE MERCHANDISE,135
647000,38,191337,Sunday,1.450001e+09,1,FROZEN FOODS,1750
647008,38,191337,Sunday,7.874201e+09,2,FROZEN FOODS,1752
647009,8,191342,Sunday,4.000001e+09,1,IMPULSE MERCHANDISE,115
647010,8,191342,Sunday,1.070081e+09,1,IMPULSE MERCHANDISE,100
647012,25,191343,Sunday,8.853063e+10,1,MENS WEAR,5701
647013,25,191343,Sunday,8.853063e+10,2,MENS WEAR,5701
647014,25,191343,Sunday,4.900001e+09,2,DSD GROCERY,9211
647015,25,191343,Sunday,3.400000e+09,1,IMPULSE MERCHANDISE,100
647026,39,191345,Sunday,3.890003e+09,1,GROCERY DRY GOODS,2764
647027,39,191345,Sunday,3.890003e+09,1,GROCERY DRY GOODS,2764
647028,39,191345,Sunday,7.225004e+09,1,COMM BREAD,3702
647031,39,191345,Sunday,4.812129e+09,2,COMM BREAD,3719
647032,39,191345,Sunday,3.029939e+10,1,BEAUTY,4503
647033,39,191345,Sunday,3.010078e+09,2,DSD GROCERY,3903
647035,39,191345,Sunday,3.700088e+09,1,HOUSEHOLD PAPER GOODS,1006
647038,39,191346,Sunday,4.150000e+09,1,GROCERY DRY GOODS,2302
647039,39,191346,Sunday,1.340952e+09,1,GROCERY DRY GOODS,2351
647041,39,191346,Sunday,3.700046e+09,1,HOUSEHOLD CHEMICALS/SUPP,8910
647046,39,191346,Sunday,7.874204e+09,1,DAIRY,7955
647047,39,191346,Sunday,3.120020e+09,1,DSD GROCERY,4639
647048,39,191346,Sunday,3.120033e+09,1,DSD GROCERY,4639
647051,39,191346,Sunday,7.874205e+09,1,FROZEN FOODS,1752
647054,8,191347,Sunday,3.800060e+09,1,GROCERY DRY GOODS,3600

In [66]:
#X3=df3.drop(df3[[0,1]], axis=1)
#X3.head()
#df2
#df2=dat1.pivot_table('ScanCount', ['TripType', 'VisitNumber','Weekday'],['FinelineNumber'], aggfunc=lambda x:len(x.unique()))